


<header class="main-header">


    <!-- Logo -->
    <a href="#" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>H-F</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Hiflotech</b> co.,ltd.</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown messages-menu">
            <a [routerLink]="['/home']" class="dropdown-toggle" data-toggle="dropdown" 
            style="
            padding-bottom: 5px;
            padding-left: 5px;
            padding-top: 8px;
            padding-right: 8px;">
              <h5>หน้าแรก</h5>
            </a>
          </li>
          <li class="dropdown messages-menu">
            <a [routerLink]="['/news']" class="dropdown-toggle" data-toggle="dropdown" style="
            padding-bottom: 5px;
            padding-left: 5px;
            padding-top: 8px;
            padding-right: 8px;">
              <h5>ข่าวสาร</h5>
            </a>
          </li><li class="dropdown messages-menu">
            <a [routerLink]="['/about']" class="dropdown-toggle" data-toggle="dropdown" style="
            padding-bottom: 5px;
            padding-left: 5px;
            padding-top: 8px;
            padding-right: 8px;">
              <h5>เกี่ยวกับเรา</h5>
            </a>
          </li>
          <li class="dropdown messages-menu">
            <a [routerLink]="['/contact']" class="dropdown-toggle" data-toggle="dropdown" style="
            padding-bottom: 5px;
            padding-left: 5px;
            padding-top: 8px;
            padding-right: 8px;">
              <h5>ติดต่อเรา</h5>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
