<div id="banner" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">
    <div class="item active">
      <img src="assets/img/index/header11.jpg" alt="">
    </div>
    <div class="item">
      <img src="assets/img/index/header22.jpg" alt="">
    </div>
    <div class="item ">
      <img src="assets/img/index/header33.jpg" alt="">
    </div>
    <div class="item ">
      <img src="assets/img/index/header44.jpg" alt="">
    </div>
  </div>

  <div class="hidden-md hidden-lg">
    <a class="left carousel-control" href="#banner" data-slide="prev">
                  <span class="fa fa-angle-double-left"></span>
                </a>
    <a class="right carousel-control" href="#banner" data-slide="next">
                  <span class="fa fa-angle-double-right"></span>
                </a>
  </div>
</div>
